---
title: Médiation Logement
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---
<div class="fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-10 fr-col-md-6">
        <h1>Récupérer mon dépôt de garantie</h1>
        <p class="fr-mb-5w fr-text">Souvent appelée <b>la caution</b>, c'est la somme d'argent versée au début de la location our garantir le rendu en bon état du logement.</p>
        <p class="fr-mb-5w fr-text">Elle doit être restituée à la fin du contrat de location selon la situation.</p>
        </p>
        <p></p>
        <p class="fr-mb-5w fr-text"><b>Votre dépôt doit vous être rendu ?</b></p>
        </p>
        <button class="fr-btn" onclick="location.href='/fr/simulateur/'">
          Démarrer la démarche en ligne
        </button>
        <p class="fr-mb-5w fr-text--sm">Durée : 5 minutes</p>
      </div>
      <div class="fr-hidden fr-unhidden-md fr-col-md-4">
        <img src="/img/icon_home.svg" alt="" width="256">
      </div>
    </div>
  </div>
</div>
