---
title: Médiation Logement
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---
<div class="fr-py-6w">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-10 fr-col-md-6">
        <h1>Récupérer mon dépôt de garantie</h1>
        <p class="fr-mb-5w fr-text">Souvent appelée <b>la caution</b>, c'est la somme d'argent versée au début de la location our garantir le rendu en bon état du logement.</p>
        <p class="fr-mb-5w fr-text">Elle doit être restituée à la fin du contrat de location selon la situation.</p>
        </p>
        <p></p>
        <p class="fr-mb-5w fr-text"><b>Votre dépôt doit vous être rendu ?</b></p>
        </p>
        <!-- TODO : onclick="location.href='/fr/simulateur/'" -->
        <button class="fr-btn" disabled>
          Démarrer la démarche en ligne (à venir)
        </button>
        <p class="fr-mb-5w fr-text--sm">Durée : 5 minutes</p>
      </div>
      <div class="fr-hidden fr-unhidden-md fr-col-md-4">
        <img src="/img/icon_home.svg" alt="" width="256">
      </div>
    </div>
    <!-- Séparation et titre -->
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-10 fr-col-md-10"></div>
    </div>
    <!-- Trois colonnes des étapes -->
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
      <div class="fr-col-3">
        <p class="fr-text--lead" style="color:var(--text-default-error);">1.</p>
        <p style="font-weight:bold;">Répondez aux questions du simulateur</p>
        <p>Munissez-vous de votre bail et laissez-vous guider. 5 minutes au maximum !</p>
      </div>
      <div class="fr-col-3">
        <p class="fr-text--lead" style="color:var(--text-default-error);">2.</p>
        <p style="font-weight:bold;">Découvrez l'état de votre situation</p>
        <p>Médiation Logement analyse votre situation et vous informe sur vos droits.</p>
      </div>
      <div class="fr-col-3">
        <p class="fr-text--lead" style="color:var(--text-default-error);">3.</p>
        <p style="font-weight:bold;">Nous vous accompagnons dans votre démarche</p>
        <p>Un email personnalisé est rédigé automatiquement. Après relecture, envoyez-le à votre propriétaire.</p>
      </div>      
    </div>
  </div>
</div>
