---
title: Simulateur
layout: layouts/base.njk
eleventyNavigation:
  key: Simulateur
  order: 2
---


<iframe style="display: block; width: 100vw; height: 150vh;" src="https://medlog.applicatif.net/v2/customer/4baa6b38-3348-4c4f-aa2c-5840e360f3a9/firstPage" frameborder="0" allowfullscreen></iframe>

